#Heading1{
    margin-left:20px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 10px;
    margin-left:40px;
}

td, th {
    font-size: 1em;
    border: 2px solid #33C9EE;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #33C9EE;
    color: #ffffff;
}

tr:nth-child(even) td {
    color: #000000;
    background-color: #99D9EE;
}